.display{
    width: 500px;
    height: 400px;
    color: black;
    background-color: aqua;
    margin: 10% 30%;
    border-radius: 5%;
}
.name{
   padding-top: 10%;
   padding-left: 25%;
}
.firstName{
    padding-left: 5%;
    line-height: 50px;
}
input{ 
    width: 200px;
    height: 25px;
}
.result{
    padding-top: 10%;
    padding-left:10%;
    color: red;
    font-weight: bold;
    font-size: x-large;
    text-transform:capitalize;

}
.button{
    
    padding-top: 5%;
    padding-left: 40%;
}
.submit{
    width: 80px;
    height: 30px;
    font-size: large;
    color: red;
    background-color:darkslategray;
}
.error {
  color: red;
  font-size: 14px;
  margin-top: 2px;
}